In [7]:
#Assignment

In [8]:
#1. What is a database? Differentiate between SQL and NoSQL databases.

In [9]:
print("""A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS). Together, the data and the DBMS, along with the applications that are associated with them, are referred to as a database system, often shortened to just database.
Difference SQL and NoSql
1.SQL pronounced as “S-Q-L” or as “See-Quel” is primarily called RDBMS or Relational Databases, whereas NoSQL is a Non-relational or Distributed Database.
2.Comparing SQL vs NoSQL databases, SQL databases are table-based databases, whereas NoSQL databases can be document-based, key-value pairs, and graph databases.
3.SQL databases are vertically scalable, while NoSQL databases are horizontally scalable.
SQL databases have a predefined schema, whereas NoSQL databases use a dynamic schema for unstructured data.
4.Comparing NoSQL vs SQL performance, SQL requires specialized DB hardware for better performance while NoSQL uses commodity hardware.""")

A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS). Together, the data and the DBMS, along with the applications that are associated with them, are referred to as a database system, often shortened to just database.
Difference SQL and NoSql
1.SQL pronounced as “S-Q-L” or as “See-Quel” is primarily called RDBMS or Relational Databases, whereas NoSQL is a Non-relational or Distributed Database.
2.Comparing SQL vs NoSQL databases, SQL databases are table-based databases, whereas NoSQL databases can be document-based, key-value pairs, and graph databases.
3.SQL databases are vertically scalable, while NoSQL databases are horizontally scalable.
SQL databases have a predefined schema, whereas NoSQL databases use a dynamic schema for unstructured data.
4.Comparing NoSQL vs SQL performance, SQL requires specialized DB hardware for better performance while NoSQL uses commodity hardware.

In [10]:
#2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [11]:
print ("""DDL (Data Definition Language): 
DDL or Data Definition Language actually consists of the SQL commands that can be used to define the database schema. It simply deals with descriptions of the database schema and is used to create and modify the structure of database objects in the database. DDL is a set of SQL commands used to create, modify, and delete database structures but not data. These commands are normally not used by a general user, who should be accessing the database via an application.
DDL commands: 
1.CREATE: This command is used to create the database or its objects (like table, index, function, views, store procedure, and triggers).
Example:-CREATE TABLE Sudent_data;
(
Sub_ID INT, 
Sub_Name varchar(20)
);
Here INT and varchar are datatype, Datatype means type of data we can store, like for INT type, 
we can store integer type data in the column
2.DROP: This command is used to delete objects from the database.
Example:-DROP DATABASE student_data;
3.ALTER: This is used to alter the structure of the database.
Example:-ALTER TABLE Student_data ADD Father's_Name Varchar(60);  
4.TRUNCATE: This is used to remove all records from a table, including all spaces allocated for the records are removed 
Example:- TRUNCATE TABLE Student_data; .""")

DDL (Data Definition Language):
DDL or Data Definition Language actually consists of the SQL commands that can be used to define the database schema. It simply deals with descriptions of the database schema and is used to create and modify the structure of database objects in the database. DDL is a set of SQL commands used to create, modify, and delete database structures but not data. These commands are normally not used by a general user, who should be accessing the database via an application.
DDL commands:
1.CREATE: This command is used to create the database or its objects (like table, index, function, views, store procedure, and triggers).
Example:-CREATE TABLE Sudent_data;
(
Sub_ID INT,
Sub_Name varchar(20)
);
Here INT and varchar are datatype, Datatype means type of data we can store, like for INT type,
we can store integer type data in the column
2.DROP: This command is used to delete objects from the database.
Example:-DROP DATABASE student_data;
3.ALTER: This is used to alter the structure of the database.
Example:-ALTER TABLE Student_data ADD Father's_Name Varchar(60);
4.TRUNCATE: This is used to remove all records from a table, including all spaces allocated for the records are removed
Example:- TRUNCATE TABLE Student_data; .

In [12]:
#3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [13]:
print("""DML Commands in SQL
DML is an abbreviation of Data Manipulation Language.
The DML commands in Structured Query Language change the data present in the SQL database. We can easily access, store, modify, update and delete the existing records from the database using DML commands.
Following are the three main DML commands in SQL:
1.INSERT Command
2.UPDATE Command
3.DELETE Command
(I) INSERT DML Command
INSERT is another most important data manipulation command in Structured Query Language, which allows users to insert data in database tables.
Syntax of INSERT Command:-
INSERT INTO TABLE_NAME ( column_Name1 , column_Name2 , column_Name3 , .... column_NameN )  VALUES (value_1, value_2, value_3, .... value_N ) ;   
Examples :-
INSERT INTO Student (Stu_id, Stu_Name, Stu_Marks, Stu_Age) VALUES (104, Anmol, 89, 19);  
(ii) UPDATE DML Command
UPDATE is another most important data manipulation command in Structured Query Language, which allows users to update or modify the existing data in database tables.
Syntax of UPDATE Command:-
UPDATE Table_name SET [column_name1= value_1, ….., column_nameN = value_N] WHERE CONDITION;  
Example:-UPDATE Product SET Product_Price = 80 WHERE Product_Id = 'P102' ;  
(iii) DELETE DML Command
DELETE is a DML command which allows SQL users to remove single or multiple existing records from the database tables.
This command of Data Manipulation Language does not delete the stored data permanently from the database. We use the WHERE clause with the DELETE command to select specific rows from the table.
Syntax of DELETE Command:-
DELETE FROM Table_Name WHERE condition;  
Example:-
DELETE FROM Product WHERE Product_Id = 'P202' ;
""")

DML Commands in SQL
DML is an abbreviation of Data Manipulation Language.
The DML commands in Structured Query Language change the data present in the SQL database. We can easily access, store, modify, update and delete the existing records from the database using DML commands.
Following are the three main DML commands in SQL:
1.INSERT Command
2.UPDATE Command
3.DELETE Command
(I) INSERT DML Command
INSERT is another most important data manipulation command in Structured Query Language, which allows users to insert data in database tables.
Syntax of INSERT Command:-
INSERT INTO TABLE_NAME ( column_Name1 , column_Name2 , column_Name3 , .... column_NameN )  VALUES (value_1, value_2, value_3, .... value_N ) ;
Examples :-
INSERT INTO Student (Stu_id, Stu_Name, Stu_Marks, Stu_Age) VALUES (104, Anmol, 89, 19);
(ii) UPDATE DML Command
UPDATE is another most important data manipulation command in Structured Query Language, which allows users to update or modify the existing data in database tables.
Syntax of UPDATE Command:-
UPDATE Table_name SET [column_name1= value_1, ….., column_nameN = value_N] WHERE CONDITION;
Example:-UPDATE Product SET Product_Price = 80 WHERE Product_Id = 'P102' ;
(iii) DELETE DML Command
DELETE is a DML command which allows SQL users to remove single or multiple existing records from the database tables.
This command of Data Manipulation Language does not delete the stored data permanently from the database. We use the WHERE clause with the DELETE command to select specific rows from the table.
Syntax of DELETE Command:-
DELETE FROM Table_Name WHERE condition;
Example:-
DELETE FROM Product WHERE Product_Id = 'P202' ;

In [14]:
#4. What is DQL? Explain SELECT with an example.

In [15]:
print("""Structured query language (SQL) is a programming language for storing and processing information in a relational database. A relational database stores information in tabular form, with rows and columns representing different data attributes and the various relationships between the data values.
The SELECT statement is used to select data from a database.
Example:- SELECT * FROM table_name;
Example:-SELECT Column Example
The following SQL statement selects the "CustomerName" and "City" columns from the "Customers" table:
The SQL SELECT Statement
The SELECT statement is used to select data from a database.
The data returned is stored in a result table, called the result-set.
SELECT Syntax:-
SELECT column1, column2, ...
FROM table_name;
Example:-SELECT CustomerName, City FROM Customers;""")

Structured query language (SQL) is a programming language for storing and processing information in a relational database. A relational database stores information in tabular form, with rows and columns representing different data attributes and the various relationships between the data values.
The SELECT statement is used to select data from a database.
Example:- SELECT * FROM table_name;
Example:-SELECT Column Example
The following SQL statement selects the "CustomerName" and "City" columns from the "Customers" table:
The SQL SELECT Statement
The SELECT statement is used to select data from a database.
The data returned is stored in a result table, called the result-set.
SELECT Syntax:-
SELECT column1, column2, ...
FROM table_name;
Example:-SELECT CustomerName, City FROM Customers;

In [16]:
#5. Explain Primary Key and Foreign Key.

In [17]:
print("""Primary Key: A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values. It is either an existing table column or a column that is specifically generated by the database according to a defined sequence. 
Example:– 
STUD_NO, as well as STUD_PHONE both, are candidate keys for relation STUDENT but STUD_NO can be chosen as the primary key (only one out of many candidate keys). 
Foreign Key: 
A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table. 
Example:- 
STUD_NO in STUDENT_COURSE is a foreign key to STUD_NO in STUDENT relation. """)

Primary Key: A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values. It is either an existing table column or a column that is specifically generated by the database according to a defined sequence.
Example:–
STUD_NO, as well as STUD_PHONE both, are candidate keys for relation STUDENT but STUD_NO can be chosen as the primary key (only one out of many candidate keys).
Foreign Key:
A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table.
Example:-
STUD_NO in STUDENT_COURSE is a foreign key to STUD_NO in STUDENT relation.

In [18]:
#6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [19]:
print("""import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE mydatabase")
Cursor ( )
Cursor is a Temporary Memory or Temporary Work Station. It is Allocated by Database Server at the Time of Performing DML(Data Manipulation Language) operations on Table by User. Cursors are used to store Database Tables. There are 2 types of Cursors: Implicit Cursors, and Explicit Cursors. These are explained as following below.
1.Implicit Cursors:
Implicit Cursors are also known as Default Cursors of SQL SERVER. These Cursors are allocated by SQL SERVER when the user performs DML operations.
2.Explicit Cursors :
Explicit Cursors are Created by Users whenever the user requires them. Explicit Cursors are used for Fetching data from Table in Row-By-Row Manner.
Execute ( )
The Execute method executes a specified query, SQL statement, stored procedure, or provider-specific text. The results are stored in a new Recordset object if it is a row-returning query. A closed Recordset object will be returned if it is not a row-returning query.""")

import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE mydatabase")
Cursor ( )
Cursor is a Temporary Memory or Temporary Work Station. It is Allocated by Database Server at the Time of Performing DML(Data Manipulation Language) operations on Table by User. Cursors are used to store Database Tables. There are 2 types of Cursors: Implicit Cursors, and Explicit Cursors. These are explained as following below.
1.Implicit Cursors:
Implicit Cursors are also known as Default Cursors of SQL SERVER. These Cursors are allocated by SQL SERVER when the user performs DML operations.
2.Explicit Cursors :
Explicit Cursors are Created by Users whenever the user requires them. Explicit Cursors are used for Fetching data from Table in Row-By-Row Manner.
Execute ( )
The Execute method executes a specified query, SQL statement, stored procedure, or provider-specific text. The results are stored in a new Recordset object if it is a row-returning query. A closed Recordset object will be returned if it is not a row-returning query.

In [20]:
#7 Give the order of execution of SQL clauses in an SQL query.

In [21]:
print("""Let’s take a look at a sample SQL query :
SELECT DISTINCT column, AGGREGATE(column)
FROM table1
JOIN table2
ON table1.column = table2.column
WHERE constraint_expression
GROUP BY column
HAVING constraint_expression
ORDER BY column ASC/DESC
LIMIT count;
Each part of the query is executed sequentially, so it’s important to understand the order of execution :
FROM and JOIN: The FROM clause, and subsequent JOINs are first executed to determine the total working set of data that is being queried
WHERE: Once we have the total working set of data, the WHERE constraints are applied to the individual rows, and rows that do not satisfy the constraint are discarded.
GROUP BY: The remaining rows after the WHERE constraints are applied are then grouped based on common values in the column specified in the GROUP BY clause.
HAVING: If the query has a GROUP BY clause, then the constraints in the HAVING clause are applied to the grouped rows, and the grouped rows that don’t satisfy the constraint are discarded.
SELECT: Any expressions in the SELECT part of the query are finally computed.
DISTINCT: Of the remaining rows, rows with duplicate values in the column marked as DISTINCT will be discarded.
ORDER BY: If an order is specified by the ORDER BY clause, the rows are then sorted by the specified data in either ascending or descending order.
LIMIT: Finally, the rows that fall outside the range specified by the LIMIT are discarded, leaving the final set of rows to be returned from the query.""")

Let’s take a look at a sample SQL query :
SELECT DISTINCT column, AGGREGATE(column)
FROM table1
JOIN table2
ON table1.column = table2.column
WHERE constraint_expression
GROUP BY column
HAVING constraint_expression
ORDER BY column ASC/DESC
LIMIT count;
Each part of the query is executed sequentially, so it’s important to understand the order of execution :
FROM and JOIN: The FROM clause, and subsequent JOINs are first executed to determine the total working set of data that is being queried
WHERE: Once we have the total working set of data, the WHERE constraints are applied to the individual rows, and rows that do not satisfy the constraint are discarded.
GROUP BY: The remaining rows after the WHERE constraints are applied are then grouped based on common values in the column specified in the GROUP BY clause.
HAVING: If the query has a GROUP BY clause, then the constraints in the HAVING clause are applied to the grouped rows, and the grouped rows that don’t satisfy the constraint are discarded.
SELECT: Any expressions in the SELECT part of the query are finally computed.
DISTINCT: Of the remaining rows, rows with duplicate values in the column marked as DISTINCT will be discarded.
ORDER BY: If an order is specified by the ORDER BY clause, the rows are then sorted by the specified data in either ascending or descending order.
LIMIT: Finally, the rows that fall outside the range specified by the LIMIT are discarded, leaving the final set of rows to be returned from the query.